# Data Structures
There are four collection data types in the Python programming language
- Lists
- Tuples
- Sets
- Dictionaries

## Python Lists
A list is a collection which is ordered and changeable. 
In Python lists are written with square brackets.

In [1]:
names = ['Kunal', 'Arjun', 'Priya','Kishor','Anu']
print(names)
print(type(names))

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu']
<class 'list'>

In [2]:
x = [1,5,8,'Kunal']
type(x)

list

In [3]:
type('Kunal')

str

In [4]:
# Access items
print(names[0])
print(names[2:])
print(names[:2])
print(names[1:3])

Kunal
['Priya', 'Kishor', 'Anu']
['Kunal', 'Arjun']
['Arjun', 'Priya']

In [5]:
type(names[0])

str

In [6]:
names

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [7]:
# Negative index
print(names[-1])
print(names[-2:])
print(names[:-2])
print(names[-3:-1])

Anu
['Kishor', 'Anu']
['Kunal', 'Arjun', 'Priya']
['Priya', 'Kishor']

In [8]:
names[3:-4]

[]

In [9]:
# Change item in list
print(names)
names[3]="Vijay"
print(names)

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu']
['Kunal', 'Arjun', 'Priya', 'Vijay', 'Anu']

In [10]:
# Looping through lists
for j in names:
    print("Iterator now has value {}".format(j))

Iterator now has value Kunal
Iterator now has value Arjun
Iterator now has value Priya
Iterator now has value Vijay
Iterator now has value Anu

In [11]:
# Nested list
mylist=[1,2,3,['a','b',[5,6]]]
print(mylist)

[1, 2, 3, ['a', 'b', [5, 6]]]

In [12]:
type(mylist)

list

In [13]:
mylist[3][1]

'b'

## Methods 
- append(): Adds an element at the end of the list
- clear(): Removes all the elements from the list
- copy(): Returns a copy of the list
- count(): Returns the number of elements with the specified value
- del : Delete list
- extend(): Add the elements of a list (or any iterable), to the end of the current list
- index(): Returns the index of the first element with the specified value
- insert():	Adds an element at the specified position
- len(): Length of list
- list(): Copies list from given list
- pop(): Removes the element at the specified position
- remove():	Removes the item with the specified value
- reverse(): Reverses the order of the list
- sort(): Sorts the list

In [14]:
mynewlist = names
print(mynewlist)

['Kunal', 'Arjun', 'Priya', 'Vijay', 'Anu']

In [15]:
# append(): Adds an element at the end of the list
print(names)
names.append("Kumar")
print(names)

['Kunal', 'Arjun', 'Priya', 'Vijay', 'Anu']
['Kunal', 'Arjun', 'Priya', 'Vijay', 'Anu', 'Kumar']

In [16]:
# clear(): Removes all the elements from the list
names.clear()
print(names)

[]

In [17]:
# copy(): Returns a copy of the list
names = ['Kunal', 'Arjun', 'Priya','Kishor','Anu']
Names=names.copy()
print(Names)

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [18]:
mynewlist

[]

In [19]:
# count(): Returns the number of elements with the specified value
names.append("Kunal")
x=names.count('Kunal')
print(x)

2

In [20]:
names

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Kunal']

In [21]:
# del : Delete list
#del Names
print(Names)

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [22]:
# extend(): Add the elements of a list (or any iterable), 
# to the end of the current list
print(names)
cars = ['Ford', 'BMW', 'Volvo']
names.extend(cars)
print(names)

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Kunal']
['Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Kunal', 'Ford', 'BMW', 'Volvo']

In [23]:
# index(): Returns the index of the first element with the specified value
x=names.index('Ford')
x

6

In [24]:
# insert():Adds an element at the specified position
names.insert(2,'Audi')
print(names)

['Kunal', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Anu', 'Kunal', 'Ford', 'BMW', 'Volvo']

In [25]:
# len(): Length of list
print(len(names))

10

In [26]:
df = list(('Ford',)) # df = ['ford','audi']
df

['Ford']

In [27]:
#df = list('Ford')
df = ['Ford']
df

['Ford']

In [28]:
# list(): Creats list from given inputs
new_list=list(('Audi',"BMW",'Ford'))
print(new_list)

['Audi', 'BMW', 'Ford']

In [29]:
print(names)

['Kunal', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Anu', 'Kunal', 'Ford', 'BMW', 'Volvo']

In [30]:
# pop(): Removes the element at the specified position
names.pop(5)
#print(names.pop(5))
print(names)
#names.pop(2)
#print(names)

['Kunal', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Kunal', 'Ford', 'BMW', 'Volvo']

In [31]:
names.pop()
print(names)

['Kunal', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Kunal', 'Ford', 'BMW']

In [32]:
# remove(): Removes the item with the specified value
names.append('Delhi')
print(names)

['Kunal', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Kunal', 'Ford', 'BMW', 'Delhi']

In [33]:
names.remove('Audi')
print(names)

['Kunal', 'Arjun', 'Priya', 'Kishor', 'Kunal', 'Ford', 'BMW', 'Delhi']

In [34]:
#names = ['Kunal', 'Arjun', 'Priya', 'Kishor', 'Kunal', 'Ford', 'BMW']
to_remove = ['Kunal', 'Ford']
for i in to_remove:
    names.remove(i)
names

['Arjun', 'Priya', 'Kishor', 'Kunal', 'BMW', 'Delhi']

In [35]:
#names.extend(['Kunal']*5)

In [36]:
names

['Arjun', 'Priya', 'Kishor', 'Kunal', 'BMW', 'Delhi']

In [37]:
# reverse(): Reverses the order of the list
names.reverse()
print(names)

['Delhi', 'BMW', 'Kunal', 'Kishor', 'Priya', 'Arjun']

In [38]:
names

['Delhi', 'BMW', 'Kunal', 'Kishor', 'Priya', 'Arjun']

In [39]:
# sort(): Sorts the list
names.sort()
print(names)

['Arjun', 'BMW', 'Delhi', 'Kishor', 'Kunal', 'Priya']

In [40]:
names.sort(reverse = True)
names

['Priya', 'Kunal', 'Kishor', 'Delhi', 'BMW', 'Arjun']

## Tuples
A tuple is a collection which is ordered and unchangeable. 
In Python tuples are written with round brackets.

In [41]:
t1=(1,5,8,3,10,3)
t2=('Kunal', 'Arjun', 'Priya','Kishor','Anu')
print(t1,"\n")
print(t2)

(1, 5, 8, 3, 10, 3)

('Kunal', 'Arjun', 'Priya', 'Kishor', 'Anu')

In [42]:
# Access elements
print(t1[0])
print(t1[2:])
print(t1[:3])

1
(8, 3, 10, 3)
(1, 5, 8)

In [43]:
type(t1[0:3])

tuple

In [44]:
# Negative index
print(t1[-1])
print(t1[-4:])
print(t1[:-3])

3
(8, 3, 10, 3)
(1, 5, 8)

In [45]:
# Change tuple values
#print(t1)
#t1[0]=99

Tuples are not interchangable. So no additional element can be added or removed. Try...

In [46]:
# Looping through tuple
for j in t1:
    print('The iterator now has value = {}'.format(j))

The iterator now has value = 1
The iterator now has value = 5
The iterator now has value = 8
The iterator now has value = 3
The iterator now has value = 10
The iterator now has value = 3

In [47]:
print('Kunal' in t2)

True

In [48]:
# Check if 'Kunal' in t2
if "Kunal" in t2:
    print("Kunal is listed in t2")

Kunal is listed in t2

In [49]:
# tuple with one item
T1=("Hi",)
print(type(T1))
T2=("Hi")
print(type(T2))

<class 'tuple'>
<class 'str'>

## Methods 
- tuple(): Creates tuple with elements specified.
- len(): Gives length of tuple, no. of elements in tuple.
- t1 + t2 : Adds two tuples
- del(): Deletes tuple
- count(): Returns the number of times a specified value occurs in a tuple.
- index(): Searches the tuple for a specified value and returns the position of where it was found.

In [50]:
# tuple(): Creates tuple with elements specified.
t=tuple((0,2,4,6,0,2,2,5,2,0,2,3,4))
print(t)
print(type(t))

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4)
<class 'tuple'>

In [51]:
# len(): Gives length of tuple, no. of elements in tuple.
len(t)

13

In [52]:
# t1 + t2 : Adds two tuples
t + t1

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4, 1, 5, 8, 3, 10, 3)

In [53]:
#time_laptop = [3,4,3,5,5,4,6]
#time_mobile = [1,2,1,1,1,2,2]
#time_laptop + time_mobile

In [54]:
# del(): Deletes tuple
print(T1)
#del T1
#print(T1)

('Hi',)

In [55]:
# count(): Returns the number of times a specified value occurs in a tuple.
t.count(2)

5

In [56]:
# index(): Searches the tuple for a specified value and returns the position of where it was found.
t.index(2)

1

In [57]:
t = (1,2,5,'a','b', (1,'c'))
print(t)

(1, 2, 5, 'a', 'b', (1, 'c'))

In [58]:
print(t[4])
print(type(t[4]))

b
<class 'str'>

## Sets
A set is a collection which is unordered and unindexed. 
In Python sets are written with curly brackets.

In [59]:
set1={1,3,8,9,4,3,5,2,1}
print(set1,"\n")
set2={'A','C','D','A','X'}
print(set2)

{1, 2, 3, 4, 5, 8, 9}

{'C', 'A', 'D', 'X'}

In [60]:
set2={'A','D','C','X'}
print(set2)

{'C', 'A', 'D', 'X'}

In [61]:
# Access items
# You cannot access items in a set by referring to an index, 
# since sets are unordered the items has no index.
#set1[3]

In [62]:
a=set()
type(a)

set

In [63]:
# Access items
# loop through the set items using a for loop
for j in set1:
    print(j)

1
2
3
4
5
8
9

In [64]:
print('D' in set2)

True

## Methods
- add(): Adds an element to the set
- clear(): Removes all the elements from the set
- copy(): Returns a copy of the set
- difference(): Returns a set containing the difference between two or more sets
- difference_update(): Removes the items in this set that are also included in another, specified set
- discard(): Remove the specified item
- intersection(): Returns a set, that is the intersection of two other sets
- intersection_update(): Removes the items in this set that are not present in other, specified set(s)
- isdisjoint(): Returns whether two sets have a intersection or not
- issubset(): Returns whether another set contains this set or not
- issuperset(): Returns whether this set contains another set or not
- len(): Finds length of set
- pop(): Removes an element from the set
- remove(): Removes the specified element
- symmetric_difference(): Returns a set with the symmetric differences of two sets
- symmetric_difference_update(): inserts the symmetric differences from this set and another
- union(): Return a set containing the union of sets
- update(): Update the set with the union of this set and others

In [65]:
# add(): Adds an element to the set
print(set1)
set1.add(12)
print(set1)

{1, 2, 3, 4, 5, 8, 9}
{1, 2, 3, 4, 5, 8, 9, 12}

In [66]:
# clear(): Removes all the elements from the set
set1.clear()
print(set1)

set()

In [67]:
# copy(): Returns a copy of the set
set1=set2.copy()
print(set1)

{'C', 'A', 'D', 'X'}

In [68]:
# difference(): Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.difference(y)
print(z)

{'banana', 'cherry'}

In [69]:
# difference_update(): Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.difference_update(y)
print(x)

{'banana', 'cherry'}

In [70]:
y

{'apple', 'mi', 'samsung'}

In [71]:
# discard(): Remove the specified item
print(set1)
set1.discard('X')
print(set1)

{'C', 'A', 'D', 'X'}
{'C', 'A', 'D'}

In [72]:
# intersection(): Returns a set, that is the intersection of two other sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [73]:
# intersection_update(): Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.intersection_update(y)
print(x)
print(y)

{'apple'}
{'apple', 'mi', 'samsung'}

In [74]:
# isdisjoint(): Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.isdisjoint(y)
print(z)

False

In [75]:
# issubset(): Returns whether another set contains this set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = x.issubset(y)
print(z)

True

In [76]:
# issuperset(): Returns whether this set contains another set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = y.issuperset(x)
print(z)

True

In [77]:
# len(): Finds length of set
len(y)

5

In [78]:
# pop(): Removes an element from the set and returns the removed value.
x = { "banana","apple","cherry"}
print(x)
print(x.pop())
print(x)

{'apple', 'banana', 'cherry'}
apple
{'banana', 'cherry'}

In [79]:
#x = {"apple", "banana", "cherry"}
#print(x)

In [80]:
# remove(): Removes the specified element
y={'samsung', 'apple', 'mi'}
print(y)
y.remove('mi')
#y.remove('MI')
#y.discard('MI')
print(y)

{'apple', 'mi', 'samsung'}
{'apple', 'samsung'}

In [81]:
# symmetric_difference(): Returns a set with the symmetric differences of two sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.symmetric_difference(y)
print(z)

{'banana', 'samsung', 'cherry', 'mi'}

In [82]:
# symmetric_difference_update(): inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.symmetric_difference_update(x)
print(y)

{'banana', 'samsung', 'cherry', 'mi'}

In [83]:
# union(): Return a set containing the union of sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z=x.union(y)
print(z)

{'samsung', 'cherry', 'apple', 'banana', 'mi'}

In [84]:
# update(): Update the set with the union of this set and others
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.update(y)
print(x)
print(y)

{'samsung', 'cherry', 'apple', 'banana', 'mi'}
{'apple', 'mi', 'samsung'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [85]:
lst = ['string',10]

In [86]:
d1={"Name": "Ankit","Class": '12th','Roll No.': 25, 'Result': "Pass"}
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [87]:
# Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets.
d1['Result']

'Pass'

In [88]:
# get() function
d1.get('Result')

'Pass'

In [89]:
d1

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [90]:
# Change values
d1['Name']='Aniket'
print(d1)

{'Name': 'Aniket', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [91]:
# Looping through dictionary
for j in d1:
    print(j)

Name
Class
Roll No.
Result

In [92]:
for j in d1:
    print(d1[j])

Aniket
12th
25
Pass

In [93]:
# Extract keys
d1.keys()
print(d1.keys())

dict_keys(['Name', 'Class', 'Roll No.', 'Result'])

In [94]:
# Extract values
d1.values()

dict_values(['Aniket', '12th', 25, 'Pass'])

In [95]:
# Extract keys and values both
d1.items()

dict_items([('Name', 'Aniket'), ('Class', '12th'), ('Roll No.', 25), ('Result', 'Pass')])

In [96]:
for k,v in d1.items():
    print(k,v)

Name Aniket
Class 12th
Roll No. 25
Result Pass

In [97]:
# Check existance of key
print('Result' in d1,'\n')

if 'Name' in d1:
    print('Name exists in disctionary')

True

Name exists in disctionary

In [98]:
# Nested dictionary
myfamily = {
  "child1" : {
    "name" : "kruti",
    "year" : 2004
  },
  "child2" : {
    "name" : "Akruti",
    "year" : 2007
  },
  "child3" : {
    "name" : "Sanskruti",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'kruti', 'year': 2004}, 'child2': {'name': 'Akruti', 'year': 2007}, 'child3': {'name': 'Sanskruti', 'year': 2011}}

In [99]:
child1 = { "name" : "kruti","year" : 2004}
child2 = {"name" : "Akruti","year" : 2007}
child3 = {"name" : "Sanskruti","year" : 2011}

myfamily = { "child1" : child1, "child2" : child2, "child3" : child3}

print(myfamily)

{'child1': {'name': 'kruti', 'year': 2004}, 'child2': {'name': 'Akruti', 'year': 2007}, 'child3': {'name': 'Sanskruti', 'year': 2011}}

In [100]:
d1['Class']

'12th'

In [101]:
myfamily['child2']['year']

2007

In [102]:
y = myfamily.keys()
print(y)
y = myfamily['child1'].keys()
print(y)

dict_keys(['child1', 'child2', 'child3'])
dict_keys(['name', 'year'])

# Methods
- clear(): Removes all the elements from the dictionary
- copy(): Returns a copy of the dictionary
- fromkeys(): Returns a dictionary with the specified keys and values
- pop(): Removes the element with the specified key
- popitem(): Removes the last inserted key-value pair
- setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update(): Updates the dictionary with the specified key-value pairs

In [103]:
# clear(): Removes all the elements from the dictionary
print(d1)
d1.clear()
print(d1)

{'Name': 'Aniket', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{}

In [104]:
# copy(): Returns a copy of the dictionary d2 = d1
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
d3 = d1
print(d3)
D =d1.copy()
print(D)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [105]:
d3['Result'] = 'Fail'
d3

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}

In [106]:
d1

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}

In [107]:
D['Result'] = 'Fail'
D

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}

In [108]:
d1

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}

In [109]:
# fromkeys(): Returns a dictionary with the specified keys and values
x = ('key1', 'key2', 'key3')
y = ('A','B','C') #'NA'
z=dict.fromkeys(x,y)
print(z)

{'key1': ('A', 'B', 'C'), 'key2': ('A', 'B', 'C'), 'key3': ('A', 'B', 'C')}

In [110]:
# pop(): Removes the element with the specified key
print(d1)
d1.pop('Name')
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}
{'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}

In [111]:
# popitem(): Removes the last inserted key-value pair
print(d1)
d1.popitem()
print(d1)

{'Class': '12th', 'Roll No.': 25, 'Result': 'Fail'}
{'Class': '12th', 'Roll No.': 25}

In [112]:
# setdefault(): Returns the value of the specified key. 
# If the key does not exist: insert the key, with the specified value
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
print(d1)
d2=d1.setdefault("Class")
print(d2)
d3=d1.setdefault("Location",'Pune')
print(d3)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
12th
Pune

In [113]:
d1

{'Name': 'Ankit',
 'Class': '12th',
 'Roll No.': 25,
 'Result': 'Pass',
 'Location': 'Pune'}

In [114]:
# update(): Updates the dictionary with the specified key-value pairs
print(d1)
d1.update({"Division":"A"})
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune'}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A'}

In [115]:
d1.update({"Gender":'M',"Age":19})
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19}

In [116]:
d3 = d1.copy()
print(d3)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19}

In [117]:
d3.update({'XYZ':446})
print(d3)
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19, 'XYZ': 446}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19}

In [118]:
d4 = d1
print(d4)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19}

In [119]:
d4.update({'xyz':454})
print(d4)
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19, 'xyz': 454}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A', 'Gender': 'M', 'Age': 19, 'xyz': 454}

Basics of Python Programming

1. 	Below is a part of a DNA sequence. Copy that to python in a variable named as DNA. 
    
    a.	What is the length of the sequence?
    
    b.	Write a code that replaces specified name like A or C from sequence by         some number.
    
    c. Split the DNA sequence so we can have each character as new entry.
 
 'CCAGCAGCTCCTTGCCGAGATGGGATTCGGTTATCTTGCCTTTGAAAAAATCCAGGTAACCTTCCGCATCATCGCTCGCCCGACCGACGGCCTCCACGAATGCCGATTTGCCAACGGTGTTCACACTGCGGATATAAAAGTAATAATCATGGCCCGGTTTGATATTGATACTGGCGGCTATCCAGTACAGCGCCGTACCAAGATAA'

In [120]:
y = 'CCAGCAGCTCCTTGCCGAGATGGGATTCGGTTATCTTGCCTTTGAAAAAATCCAGGTAACCTTCCGCATCATCGCTCGCCCGACCGACGGCCTCCACGAATGCCGATTTGCCAACGGTGTTCACACTGCGGATATAAAAGTAATAATCATGGCCCGGTTTGATATTGATACTGGCGGCTATCCAGTACAGCGCCGTACCAAGATAA'

In [121]:
print(len(y))

206

In [122]:
print(y.replace('A','1'))

CC1GC1GCTCCTTGCCG1G1TGGG1TTCGGTT1TCTTGCCTTTG111111TCC1GGT11CCTTCCGC1TC1TCGCTCGCCCG1CCG1CGGCCTCC1CG11TGCCG1TTTGCC11CGGTGTTC1C1CTGCGG1T1T1111GT11T11TC1TGGCCCGGTTTG1T1TTG1T1CTGGCGGCT1TCC1GT1C1GCGCCGT1CC11G1T11

In [123]:
y.split()

['CCAGCAGCTCCTTGCCGAGATGGGATTCGGTTATCTTGCCTTTGAAAAAATCCAGGTAACCTTCCGCATCATCGCTCGCCCGACCGACGGCCTCCACGAATGCCGATTTGCCAACGGTGTTCACACTGCGGATATAAAAGTAATAATCATGGCCCGGTTTGATATTGATACTGGCGGCTATCCAGTACAGCGCCGTACCAAGATAA']

In [124]:
Y = list(y)
len(Y)

206

In [125]:
type(Y)

list